{% extends 'base.html.twig'%}

{% block body %}

<h1>Bienvenue dans mon site</h1>
<p align='justify'>Cette application est mis en placer pour gerer les employés.on aura les fonctionnalités de listage d'ajout de 
modificatio et de suppression.<br> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quasi adipisci ullam illo exercitationem neque, reiciendis libero deserunt veniam quod magnam tempore! Nemo maxime nihil cumque optio corrupti accusamus repudiandae!</p>
</p>

{% endblock %} 
 
